/* @import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&display=swap');

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer components {
  .btn-primary {
    @apply bg-sky-600 hover:bg-sky-800 text-white font-bold py-4 px-4 rounded text-center;
  }
  .btn-warn {
    @apply bg-red-600 hover:bg-red-800 text-white font-bold py-4 px-4 rounded text-center;
  }
  .code {
    @apply bg-gray-800 text-sm text-white px-2 my-1 py-1;
  }
  .popover-indicator {
    @apply bg-sky-100 hover:bg-sky-200 rounded-lg
  }
  .popover-display {
    @apply absolute !m-0 px-1 border-solid border-2 rounded-lg border-sky-200 text-xs animate-fadeIn
  }
}

/* Typography plugin */
@utility prose {
  h1 {
  /* Otherwise headlines in recipe articles are too large */
    font-size: 2.0em;
  }
}


@theme {  
  /* Default fonts */
  --font-sans: "Work-Sans", sans-serif;
  --font-mono: "Fragment Mono", monospace;
  /* --font-recipe: "Vollkorn", sans-serif;  */
  --font-recipe: "Montserrat", sans-serif; 
  --animate-fadeIn: fadeIn 0.1s ease-in;  
  @keyframes fadeIn {    
    0% {
      opacity: 0
    },    
    100% {      
      opacity: 100
    }    
  }}
