{{define "content"}}
<div class="flex flex-col w-full h-screen">
    <div id="recipes-container" class="grow text-sm font-semibold columns-2 md:columns-sm gap-8 pt-8 px-[10%] md:px-[5%]">
      {{range $recipe := .Recipes}}
      <div class="pb-4 xl:pb-8 break-inside-avoid-column hover:-translate-y-1" id="{{$recipe.Name}}">
        <a
          href=/{{$.Category}}/{{$recipe.Name}}
          class="flex flex-col shadow-sm shadow-sky-600 rounded-lg">
          <img
            class="flex object-cover rounded-t-lg"
            src="{{$recipe.TitleImagePath}}"
            title="Recipe result image">
          </img>
          <div class="m-2 items-center text-center">
            <div>{{$recipe.Name}}</div>
          </div>
        </a>
      </div>
      {{end}}
  </div>

  <footer class="w-full flex flex-row justify-center items-center bg-sky-900 sticky bottom-0 py-2">
    <a id="new-recipe-button" class="flex basis-1/4 justify-center items-center" href="/{{.Category}}/new">
        <div class="w-12 justify-center items-center">
          {{ template "icon-plus" }}
      </div>
    </a>
    <input class="basis-3/4 mr-4 xl:mr-12 px-2 appearance-none bg-sky-700 text-white xl:text-xl border-4 rounded border-sky-700 outline-none" name="recipeSearch" placeholder="Suche" onInput="filterRecipes(this.value);" type="text" />
  </footer>

</div>
{{end}}

{{define "header-nav-button"}}
<!-- Hide this button on large screens since on these no toggling is necessary -->
    <button class="w-6 md:invisible" onclick = "toggleRecipeListView()">
        {{ template "icon-columns" }}
    </button>
{{end}}

{{define "javascript-libraries"}}
  <script type="text/javascript" src="/js/filterRecipes.js"></script>
  <script type="text/javascript" src="/js/toggleRecipeListView.js"></script>
{{end}}