{{define "content"}}
<div class="flex flex-col px-[10%]">
    <div class="text-2xl text-center font-bold py-4">Wie bearbeite ich Rezepte?</div>
    <div>Du musst <a class="underline text-sky-900" href="/login">eingeloggt</a> sein, um Rezepte editieren oder
        erstellen zu können. Dann kannst du bei der Rezeptansicht oben rechts den Edit Button klicken.</div>
    <div class="pt-4">Der Rezepttext wechselt dann zur editierbaren Ansicht. Dort kannst du
        auch das Titelbild und den Rezeptnamen ändern.</div>

    <div class="text-2xl text-center font-bold pt-8 pb-4">Wie funktioniert die Formatierung?</div>
    <div>Generell folgt der Editor einer vereinfachten Markdown Version. Im Folgenden finest du Beispiele zu allen
        Möglichkeiten, wie
        du Texte formatieren kannst:</div>

    <article
        class="pt-8 prose prose-p:leading-normal prose-ul:space-y-0 prose-li:my-0 prose-h2:my-4 prose-hr:my-4 pb-8">
        <h3>Überschriften</h3>
        <div class="bg-sky-100 p-2 rounded-lg">
            <div class="code">
                # Titel
            </div>
            <h1 class="pt-2">Titel</h1>
        </div>

        <h3>Listen</h3>
        <div class="bg-sky-100 p-2 rounded-lg">
            <div class="code">
                - Zutat 1<br>
                - Zutat 2<br>
                - Zutat 3
            </div>
            <ul>
                <li>Zutat 1</li>
                <li>Zutat 2</li>
                <li>Zutat 3</li>
            </ul>
        </div>

        <h3>Kursiv</h3>
        <div class="bg-sky-100 p-2 rounded-lg">
            <div class="code">
                _Italic_
            </div>
            <div></div>
            <em>Italic</em>
        </div>

        <h3>Bold</h3>
        <div class="bg-sky-100 p-2 rounded-lg">
            <div class="code">
                *Bold*
            </div>
            <div></div>
            <b>Bold</b>
        </div>

        <h3>Separator</h3>
        <div class="bg-sky-100 p-2 rounded-lg">
            <div class="code">
                ---
            </div>
            <hr class="py-2">
        </div>

        <h3>Infoboxen</h3>
        <div class="bg-sky-100 p-2 rounded-lg">
            <div class="code">
                [Name: Beispiel]
            </div>
            <div class="m-2 p-2 text-center bg-sky-900 rounded-lg">
                <div class="text-base text-slate-100">Name</div>
                <div class="text-sm text-slate-300">Beispiel</div>
            </div>
        </div>
    </article>

    <div class="text-2xl text-center font-bold py-4">Zutatenmengen Popover</div>
    <div>Um es zu erleichtern den Rezeptanweisungen zu folgen ohne bei jeder Zutat für die Mengen zum Anfang zurück zu
        scrollen, gibt es
        <button value="id-popover" class="popover-indicator">Popovers</button>, die im Text anklickbar sind und
        die benötigte Menge anzeigen.
    </div>
    <div class="pt-4">Diese werden automatisch generiert, nach folgenden Regeln:</div>
    <ol class="ml-4 list-decimal">
        <li>Nur Listenelemente werden für Popover genutzt.</li>
        <li>Alles nach einem Satzzeichen wird ignoriert, z.B. bei <em>"2 Pkg Backpulver (oder Natron)"</em> wird nur
            <em>"2 Pkg Backpulver"</em> zum generieren der Popover genutzt.
        </li>
        <li>Der Rest wird in 2 Teile aufgeteilt:
            <ul class="list-disc ml-4">
                <li>Alles bis zum letzten Leerzeichen wird für den Popover Text genutzt.</li>
                <li>Das letzte Wort wird als Referenz genutzt, wenn es im Text vorkommt, wird es gehighlightet.</li>
            </ul>
            Im Falle des Beispiels mit dem Backpulver: Jedes
            Vorkommen im Text von <button value="id-backpulver" class="popover-indicator">Backpulver</button> und <button value="id-backpulver" class="popover-indicator">Backpulver</button>
            erhält das Popover mit Text <em>"2 Pkg"</em>.
        </li>
        <li> Kommt eine Zutat mehrmals in Mengenangaben vor, wird nur das letztgenannte genutzt.</li>
    </ol>

    <div class="font-bold py-4">Autogenerierte Popover Texte Anpassen</div>
    <div>Nicht immer können die Popover automatisch korrekt generiert werden, zum Beispiel</div>
    <div class="code">100g brauner Zucker</div>
    <div>Dieser Text würde <em>"100g brauner"</em> und <em>"Zucker"</em> generieren.<br>In solchen Fällen kann man
        Labels benutzen:</div>
    <div class="code">100g brauner Zucker ((100g:brauner Zucker))</div>
    <div>Dieser Text würde den korrekten Popover Text <em>"100g"</em> bei dem Text <em>"brauner Zucker"</em> generieren.
        Es ist auch möglich nur Menge oder Zutat zu überschreiben:</div>
    <div class="code">250g weiche Butter ((250g:))</div>
    <div>Dieser Text würde nur die Menge ändern. <em>"250g"</em> im Popover Text, aber <em>"Butter"</em>
        würde vom normalen Text bleiben.</div>

    <div class="font-bold py-4">Popover Textstellen Anpassen</div>
    <div>Generell werden alle Textstellen markiert, die exakt dem Zutatnamen gleichen. Das passt nicht immer, zum
        Beispiel wird kein Plural erkannt. Um auch dort Popover zu haben, kann das Popover explizit markert werden:
    </div>
    <div class="code">- 4 Eier<br>...<br>...zu den (Eiern)(Eier) geben...</div>

    <div class="pb-8">... zu den <button value="id-eier" class="popover-indicator">Eiern</button> geben...</div>

    <div popover id="id-popover" class="popover-display">Nur ein Beispiel</div>
    <div popover id="id-backpulver" class="popover-display">2 Pkg</div>
    <div popover id="id-eier" class="popover-display">4</div>

    <script>
        // Call in the end to make sure it's run after all elements were created
        positionAllPopovers();
    </script>

</div>
{{end}}

{{define "javascript-libraries"}}
<script type="text/javascript" src="/js/placePopover.js"></script>
{{end}}