{{define "content"}}
<div
  class="absolute opacity-20 h-5/6 w-full -z-10 mt-12 mr-24 -left-100 bg-no-repeat bg-center bg-[url('/images/cookbook_bg.svg')]">
</div>
<div class="flex grow justify-center flex-col px-[20%]">
  {{range $category := .Categories}}
  <a href=/{{$category}}
    class="bg-sky-600 hover:bg-sky-800 text-white font-bold text-2xl xl:text-3xl rounded my-6 xl:my-24 py-12 xl:py-24 flex items-center justify-center">
    {{$category}}
  </a>
  {{end}}
</div>
{{end}}


{{define "header-nav-button"}}
<a id="header-nav-button" href="/login" class="w-6">
  {{ template "icon-user" }}
</a>
{{end}}