{{define "content"}}
<div class="flex flex-col px-[20%]">
    <div id="login-message" class="text-xl text-center font-bold pt-8">&nbsp;</div>
    <form id="login-form" hx-post="/login" class="w-full mt-12" hx-target-401="#login-message"
        hx-target="#login-message">
        <div class="flex items-center border-b border-sky-500">
            <input
                class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                type="password" name="password" placeholder="Password" aria-label="Password">
            <button
                class="flex-shrink-0 bg-sky-800 border-sky-800 text-sm border-4 text-white py-1 px-2 rounded"
                type="submit">
                Login
            </button>
        </div>
    </form>
    <a
        class="btn-primary mt-8"
        href="/">
        Zurück
    </a>
    <button
        class="btn-primary mt-8"
        onclick="localStorage.removeItem('AccessToken');location.reload();">Logout</button>

    <hr class="solid py-4">

    <a href=/help
        class="bg-sky-400 btn-primary">
        How-To
    </a>
</div>
{{end}}