{{define "content"}}
<div class="flex flex-col px-[20%] w-full">

  <div class="text-xl text-center font-bold pt-8">
    <p>Neues Rezept in Kategorie </p>
    <p class="mt-4 underline">{{.Category}}</p>
  </div>
  <hr class="solid my-12">

  <form hx-post="/{{.Category}}/new" hx-target="#info-message" class="w-full"
    hx-headers='js:{"AccessToken": localStorage.AccessToken}'>
    <p>Rezeptname</p>
    <div class="flex items-center border-b border-sky-500">
      <input
        class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
        type="text" required name="recipeName" placeholder="Name" aria-label="Recipe-Name">
      <button
        class="flex-shrink-0 bg-sky-800 border-sky-800 text-sm border-4 text-white py-1 px-2 rounded"
        type="submit">
        OK
      </button>
    </div>
  </form>

  <div class="text-center pt-8">
    <p id="info-message"></p>
  </div>
</div>
{{end}}