{{define "content"}}
<div class="flex flex-col px-[20%]">
  <p class="py-4 text-center">Du bist wohl falsch abgebogen</p>
  <button
    class="btn-primary my-8"
    onclick="history.back()">
    Zurück
  </button>

  <a
    class="btn-primary"
    href="/">
    Startseite
  </a>
</div>
{{end}}