{{define "content"}}
<div class="flex flex-col w-full">
  <div class="flex justify-center bg-sky-100">
    <img
      class="object-cover lg:max-h-96"
      src="{{.TitleImagePath}}"
      title="Recipe result image">
    </img>
  </div>
  <div id="recipe-display" class="px-[8%] pt-4 pb-12 flex justify-center">
    <div
      hx-get="/{{.Category}}/{{.Recipe}}/text"
      hx-trigger="load" hx-target="#recipe-display"></div>
  </div>
</div>
<script>
  htmx.on("htmx:afterSettle", function (evt) {
    positionAllPopovers();
  });
</script>
{{end}}

{{define "header-nav-button"}}
<div id="header-nav-button-container" class="invisible">
  <button id="header-nav-button"></button>
</div>
{{end}}

{{define "header-meta-tags"}}
  <meta property="og:title" content="{{ .LinkPreview.Title }}">
  <meta property="og:type" content="Website">
  <meta property="og:image" content="{{ .LinkPreview.Url }}{{ .LinkPreview.ImagePath}}">
  <meta property="og:url" content="{{ .LinkPreview.Url }}/{{.Category}}/{{.Recipe}}">
  <meta property="og:description" content="Lecker & Einfach: Dieses Rezept solltest du nicht verpassen - jetzt ausprobieren!👨‍🍳">
{{end}}

{{define "javascript-libraries"}}
<script type="text/javascript" src="/js/warnOnLeavingUnsavedEdits.js"></script>
<script type="text/javascript" src="/js/placePopover.js"></script>
{{end}}