<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <meta name="theme-color" content="#ffffff">

  {{ template "header-meta-tags" .PageValues }}

  <script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@floating-ui/core@1.6.1"></script>
  <script src="https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.6.4"></script>
  <script type="text/javascript" src="/js/onLoad.js"></script>
  {{ template "javascript-libraries" }}
  <link href="/styles/styles.css" rel="stylesheet" />
  <title>{{ .Title }}</title>
</head>

<body>
  <div class="flex flex-col h-screen">
    <header
      class="flex justify-between items-center w-full text-center text-white px-4 drop-shadow-lg bg-sky-900 sticky top-0">
      <a href="/">
        <img
          class="flex-none"
          src="/images/cookbook.svg"
          alt="Chef's notepad logo" />
      </a>
      <div class="grow text-3xl py-2">{{ .Title }}</div>
      {{ template "header-nav-button" .PageValues }}
    </header>
    <main class="flex grow overflow-y-scroll" hx-ext="response-targets">
      {{ template "content" .PageValues }}
    </main>
  </div>
</body>

</html>

{{- /* dummy definitions. Can be overwritten to fill the layout */}}
{{- define "javascript-libraries"}}
{{end}}

{{define "header-nav-button"}}
{{end}}

{{define "header-meta-tags"}}
{{end}}

{{- define "content"}}
{{end}}