<button hx-swap-oob="true" id="header-nav-button" hx-get="/{{.Category}}/{{.Recipe}}/text/edit"
    hx-target="#recipe-display">
    <div class="w-6">
        {{ template "icon-edit" }}
    </div>
</button>

<div class="font-recipe">
    <article
        class="prose prose-p:leading-normal prose-ul:space-y-0 prose-li:my-0 prose-h2:my-4 prose-hr:my-4">
        {{ .RecipeText }}
    </article>
    <hr class="mt-4 pb-4" />
    <div class="grid grid-cols-2">
        {{ range $key, $value := .InfoTags }}
        <div class="m-2 p-2 text-center bg-sky-900 rounded-lg">
            <div class="text-base text-slate-100">{{ $key }}</div>
            <div class="text-sm text-slate-300">{{ $value }}</div>
        </div>
        {{ end }}
    </div>
</div>