<button hx-swap-oob="true" id="header-nav-button" type="submit" form="editRecipeForm"
    hx-target="#recipe-display">
    <div class="w-6">
        {{ template "icon-save" }}
    </div>
</button>

<div class="xl:w-1/2">
    <form id="editRecipeForm" hx-post="/{{.Category}}/{{.Recipe}}/text" enctype="multipart/form-data"
        class="space-y-4"
        hx-target-error="#error-message"
        hx-target="#recipe-display"
        hx-headers='js:{"AccessToken": localStorage.AccessToken}'>
        <div id="error-message" class="text-xl text-center font-bold bg-orange-600 rounded-md"></div>
        <textarea type="text" name="recipe" rows=25
            class="block font-mono resize-y w-full rounded-md p-2 bg-sky-100 border-2 border-sky-300">{{.RecipeText}}</textarea>
        <div class="" class="items-center">
            <p>Rezeptname</p>
            <div class="flex items-center border-b border-sky-500">
                <input
                    class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                    type="text" required name="recipeName" placeholder="Name" aria-label="Recipe-Name"
                    value="{{ .Recipe }}">
            </div>
        </div>
        <div class="" class="items-center">
            <p>Titelbild</p>
            <div class="flex items-center border-b border-sky-500">
                <input type="file" name="titleImage" />
            </div>
        </div>
    </form>

    <form hx-delete="/{{.Category}}/{{.Recipe}}"
        hx-confirm="Willst du das Rezept für {{.Recipe}} wirklich löschen?"
        hx-headers='js:{"AccessToken": localStorage.AccessToken}'>
        <button class="btn-warn mt-8 w-full" type="submit">
            Rezept Löschen
        </button>
    </form>
</div>